* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2d303a;
  padding-top: 30px;
  padding-bottom: 30px;
}

#lines {
  display: none;
  border-bottom: 10px double white;
  border-top: 3px solid white;
  content: "";
  height: 5px;
  width: 20px;
  margin-left: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d303a;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f06c64;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 124px;
  height: 25px;
  left: 40px;
  top: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding: 29px 856px 35px 40px;
}

#red_symbol {
  color: #f06c64;
}

ul {
  margin-top: 30px;
}

.header-circle {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

li {
  display: inline;
  margin: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
}

nav {
  text-transform: uppercase;
  width: 600px;
}

li > .link {
  color: #ffffff;
  text-decoration: none;
}

li > .link:hover {
  color: #f06c64;
  transition: 0.2s linear;
}

body {
  margin: 0;
}

.slider {
  background: #f06c64;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.phone-pictures {
  display: flex;
  justify-content: center;
}

.phone-vertical-display,
.phone-horizontal-display {
  display: block;
  border: 3px solid grey;
}

.left-side-picture {
  border: 15px solid #f2f2f2;
  border-top: 50px solid #f2f2f2;
  border-right: 15px solid #f2f2f2;
  border-bottom: 50px solid #f2f2f2;
  border-radius: 5%;
  box-shadow: 20px 20px 2px 3px rgba(94, 80, 80, 0.5);
  position: relative;
  margin-top: 50px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.vector {
  position: absolute;
  width: 30px;
  height: 5px;
  background: grey;
  border-radius: 5px;
  top: -20px;
  left: 85px;
}

.circuit {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #eb5055;
  border-radius: 50px;
  border: 2px solid grey;
  top: -40px;
  left: 95px;
}

.button {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  top: 350px;
  left: 85px;
}

.right-side-picture {
  border: 15px solid #f2f2f2;
  border-top: 15px solid #f2f2f2;
  border-right: 50px solid #f2f2f2;
  border-left: 50px solid #f2f2f2;
  border-bottom: 15px solid #f2f2f2;
  border-radius: 5%;
  box-shadow: 20px 15px 2px 5px rgba(94, 80, 80, 0.5);
  position: relative;
  height: 185px;
  margin-top: 150px;
  margin-left: 60px;
  margin-bottom: 50px;
}

.vector-2 {
  width: 5px;
  height: 30px;
  background: grey;
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: -20px;
}

.circuit-2 {
  width: 5px;
  height: 5px;
  background: #eb5055;
  border-radius: 50px;
  border: 2px solid grey;
  position: absolute;
  top: 85px;
  right: -40px;
}

.button-2 {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  position: absolute;
  top: 80px;
  left: -30px;
}

.left-arrow {
  width: 20px;
  height: 20px;
  border-top: 5px solid #e94348;
  border-right: 5px solid #e94348;
  margin-left: 60px;
  margin-top: 250px;
  transform: rotate(-135deg);
}
.right-arrow {
  width: 20px;
  height: 20px;
  border-top: 5px solid #e94348;
  border-right: 5px solid #e94348;
  margin-right: 60px;
  transform: rotate(45deg);
  margin-top: 250px;
}

.services {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.Our-services {
  padding-bottom: 50px;
  margin-left: 30px;
}

.Our-services > h2 {
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
}

.Our-services > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
}

.flex-two {
  display: flex;
  flex-direction: row-reverse;
}

.text-wrap {
  margin-left: 20px;
  margin-top: 50px;
  width: 250px;
}

.text-wrap > p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
}

.image-wrap {
  margin-left: 20px;
  margin-top: 50px;
}

.circle {
  border: 2px solid #666d89;
  padding: 30px;
  background-origin: content-box;
  border-radius: 70%;
  background-color: white;
}

.portfolio {
  background: #2d303a;
  padding-top: 20px;
}

h2 {
  color: #666d89;
}

.portfolio-text {
  margin-left: 30px;
}

.portfolio-text > h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 36px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.portfolio-text > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin-bottom: 20px;
}

.portfolio-navigation {
  margin-bottom: 20px;
  margin-left: 30px;
}

.portfolio-navigation > .link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #767e9e;
  text-decoration: none;
  border: 1px solid #767e9e;
  border-radius: 10px;
  padding: 5px;
}

.portfolio-navigation > .link:hover {
  color: #f06c64;
  transition: 0.4s linear;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1vw;
  width: 1000px;
  margin-left: 500px;
  padding-bottom: 50px;
}

hr {
  border: none;
  height: 10px;
  background: #353a49;
}

footer {
  background: #2d303a;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

#copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666d89;
  margin-top: 35px;
}

.footer-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle-2 {
  border: 2px solid #666d89;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
}

@media screen and (max-width: 1520px) and (min-width: 1020px) {
  .logo {
    width: 500px;
  }
  .flex {
    margin-left: 0px;
    margin-right: 0px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 950px;
    margin-left: 20px;
    padding-bottom: 50px;
  }
  .circle {
    padding: 14px;
  }

  .text-wrap {
    margin-left: 20px;
    margin-top: 50px;
    width: 220px;
  }
}

@media screen and (max-width: 1019px) and (min-width: 768px) {
  .logo {
    width: 320px;
  }

  .slider {
    background: #f06c64;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .phone-vertical-display {
    height: 220px;
  }
  .phone-horizontal-display {
    width: 220px;
  }

  .left-side-picture {
    border: 15px solid #f2f2f2;
    border-top: 40px solid #f2f2f2;
    border-right: 15px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .vector {
    position: absolute;
    width: 30px;
    height: 5px;
    background: grey;
    border-radius: 5px;
    top: -15px;
    left: 55px;
  }

  .circuit {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #eb5055;
    border-radius: 50px;
    border: 2px solid grey;
    top: -30px;
    left: 67px;
  }

  .button {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid gray;
    top: 230px;
    left: 55px;
  }

  .right-side-picture {
    border: 15px solid #f2f2f2;
    border-top: 15px solid #f2f2f2;
    border-right: 40px solid #f2f2f2;
    border-left: 40px solid #f2f2f2;
    border-bottom: 15px solid #f2f2f2;
    border-radius: 5%;
    box-shadow: 20px 15px 2px 5px rgba(94, 80, 80, 0.5);
    height: 130px;
    margin-top: 150px;
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .vector-2 {
    width: 5px;
    height: 30px;
    background: grey;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: -20px;
  }

  .circuit-2 {
    width: 5px;
    height: 5px;
    background: #eb5055;
    border-radius: 50px;
    border: 2px solid grey;
    position: absolute;
    top: 60px;
    right: -35px;
  }

  .button-2 {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid gray;
    position: absolute;
    top: 60px;
    left: -30px;
  }

  .left-arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid #e94348;
    border-right: 5px solid #e94348;
    margin-left: 40px;
    margin-top: 180px;
    transform: rotate(-135deg);
  }
  .right-arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid #e94348;
    border-right: 5px solid #e94348;
    margin-right: 40px;
    transform: rotate(45deg);
    margin-top: 180px;
  }

  .flex {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 700px;
    margin-left: 20px;
    padding-bottom: 50px;
  }
  .circle {
    padding: 14px;
  }

  .text-wrap {
    margin-left: 20px;
    margin-top: 50px;
    width: 220px;
  }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  .logo {
    width: 320px;
  }

  #lines {
    display: flex;
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 5px;
    width: 20px;
    margin-left: 10px;
  }

  nav {
    display: none;
  }

  .slider {
    background: #f06c64;
    display: flex;
    justify-content: space-between;
  }

  .phone-pictures {
    display: flex;
    justify-content: flex-start;
    margin-left: px;
  }

  .phone-vertical-display {
    height: 100px;
  }
  .phone-horizontal-display {
    width: 100px;
  }

  .left-side-picture {
    border: 15px solid #f2f2f2;
    border-top: 20px solid #f2f2f2;
    border-right: 5px solid #f2f2f2;
    border-bottom: 20px solid #f2f2f2;
    border-left: 5px solid #f2f2f2;
    box-shadow: 10px 10px 2px 3px rgba(94, 80, 80, 0.5);
    margin-bottom: 90px;
    margin-right: 20px;
  }

  .vector {
    position: absolute;
    width: 15px;
    height: 3px;
    background: grey;
    border-radius: 5px;
    top: -8px;
    left: 26px;
  }

  .circuit {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #eb5055;
    border-radius: 50px;
    border: 2px solid grey;
    top: -17px;
    left: 32px;
  }

  .button {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid gray;
    top: 110px;
    left: 25px;
  }

  .right-side-picture {
    border: 15px solid #f2f2f2;
    border-top: 5px solid #f2f2f2;
    border-right: 20px solid #f2f2f2;
    border-left: 20px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
    border-radius: 5%;
    box-shadow: 10px 7px 2px 3px rgba(94, 80, 80, 0.5);
    height: 63px;
    margin-top: 100px;
    margin-left: 0px;
  }

  .vector-2 {
    width: 3px;
    height: 15px;
    background: grey;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: -5px;
  }

  .circuit-2 {
    width: 2px;
    height: 2px;
    background: #eb5055;
    border-radius: 50px;
    border: 2px solid grey;
    position: absolute;
    top: 28px;
    right: -15px;
  }

  .button-2 {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid gray;
    position: absolute;
    top: 25px;
    left: -15px;
  }

  .left-arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid #e94348;
    border-right: 5px solid #e94348;
    margin-left: 5px;
    margin-top: 120px;
    transform: rotate(-135deg);
  }
  .right-arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid #e94348;
    border-right: 5px solid #e94348;
    margin-right: 40px;
    transform: rotate(45deg);
    margin-top: 120px;
  }

  .flex {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 10px;
    width: 100px;
    margin-left: 60px;
    padding-bottom: 50px;
  }
  .grid < div {
    width: 100px;
    height: 100px;
  }
  .circle {
    padding: 14px;
  }

  .text-wrap {
    margin-left: 20px;
    margin-top: 50px;
    width: 220px;
  }

  #copyright {
    display: none;
  }

  .footer-icons {
    margin-left: 70px;
  }
}
