* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2d303a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 124px;
  height: 25px;
  left: 40px;
  top: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding: 29px 856px 35px 40px;
}

#red_symbol {
  color: #f06c64;
}

ul {
  margin-top: 30px;
}

.header-circle {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

li {
  display: inline;
  margin: 10px;
}

nav {
  text-transform: uppercase;
  width: 600px;
}

li > .link {
  color: #ffffff;
  text-decoration: none;
}

li > .link:hover {
  color: #f06c64;
  transition: 0.2s linear;
}

body {
  margin: 0;
}

.slider {
  background: #f06c64;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.phone-pictures {
  display: flex;
  justify-content: center;
}

.phone-vertical-display,
.phone-horizontal-display {
  display: block;
  border: 3px solid grey;
}

.left-side-picture {
  border: 15px solid #f2f2f2;
  border-top: 50px solid #f2f2f2;
  border-right: 15px solid #f2f2f2;
  border-bottom: 50px solid #f2f2f2;
  border-radius: 5%;
  box-shadow: 20px 20px 2px 3px rgba(94, 80, 80, 0.5);
  position: relative;
  margin-top: 50px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.vector {
  position: absolute;
  width: 30px;
  height: 5px;
  background: grey;
  border-radius: 5px;
  top: -20px;
  left: 85px;
}

.circuit {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #eb5055;
  border-radius: 50px;
  border: 2px solid grey;
  top: -40px;
  left: 95px;
}

.button {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  top: 350px;
  left: 85px;
}

.right-side-picture {
  border: 15px solid #f2f2f2;
  border-top: 15px solid #f2f2f2;
  border-right: 50px solid #f2f2f2;
  border-left: 50px solid #f2f2f2;
  border-bottom: 15px solid #f2f2f2;
  border-radius: 5%;
  box-shadow: 20px 15px 2px 5px rgba(94, 80, 80, 0.5);
  position: relative;
  height: 185px;
  margin-top: 150px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.vector-2 {
  width: 5px;
  height: 30px;
  background: grey;
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: -20px;
}

.circuit-2 {
  width: 5px;
  height: 5px;
  background: #eb5055;
  border-radius: 50px;
  border: 2px solid grey;
  position: absolute;
  top: 85px;
  right: -40px;
}

.button-2 {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  position: absolute;
  top: 80px;
  left: -30px;
}

.left-arrow {
  width: 20px;
  height: 20px;
  border-top: 5px solid #e94348;
  border-right: 5px solid #e94348;
  margin-left: 60px;
  margin-top: 250px;
  transform: rotate(-135deg);
}
.right-arrow {
  width: 20px;
  height: 20px;
  border-top: 5px solid #e94348;
  border-right: 5px solid #e94348;
  margin-right: 60px;
  transform: rotate(45deg);
  margin-top: 250px;
}

.services {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.Our-services {
  width: 1100px;
  margin-left: 420px;
  padding-bottom: 50px;
}

h3 {
  padding-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
}

.Our-services > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
}

.flex-two {
  display: flex;
  flex-direction: row-reverse;
}

.text-wrap {
  margin-left: 20px;
  margin-top: 50px;
  width: 250px;
}

.text-wrap > p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
}

.image-wrap {
  margin-left: 20px;
  margin-top: 50px;
}

.circle {
  border: 2px solid #666d89;
  padding: 30px;
  background-origin: content-box;
  border-radius: 70%;
  background-color: white;
}

.portfolio {
  background: #2d303a;
  padding-top: 20px;
}

h2 {
  color: #666d89;
}

.portfolio-text {
  margin-left: 30px;
}

.portfolio-text > h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 36px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.portfolio-text > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin-bottom: 20px;
}

.portfolio-navigation {
  margin-bottom: 20px;
  margin-left: 30px;
}

.portfolio-navigation > .link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #767e9e;
  text-decoration: none;
  border: 1px solid #767e9e;
  border-radius: 10px;
  padding: 5px;
}

.portfolio-navigation > .link:hover {
  color: #f06c64;
  transition: 0.4s linear;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1vw;
  width: 1000px;
  margin-left: 500px;
  padding-bottom: 50px;
}

hr {
  border: none;
  height: 10px;
  background: #353a49;
}

footer {
  background: #2d303a;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

#copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666d89;
  margin-top: 35px;
}

.footer-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle-2 {
  border: 2px solid #666d89;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
}

@media screen and (max-width: 1020px) {

  header {
    width: 1020px;
    height: 89px;
  }

  .
}


 